html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;

}

 body{
     background-color: lavenderblush;
     background-image: url(img/bg2.gif);
     color: white;
     min-height: 100vh;
     text-align: center;

 }

 .pfp{
     width: 120px;
 }