html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;

}

 body{
     background-color: lavenderblush;
     background-image: url(img/bg2.gif);
     color: white;
     min-height: 100vh;
     text-align: center;
     font-family: 'Poppins', 'sans-serif';

 }

 .pfp{
     width: 120px;
 }

 h2{
     font-size: 16px;
 }

 a{
     display: block;
     text-decoration: none;
     max-width: 400px;
     color: white;
     border: 2px solid white;
     font-size: 0.85 rem;
     padding: 10px 20px;
     margin: 0 auto 15px auto;
     background-color:rgba(199, 174, 149, 0.7);
 }

 .platforms{
     display: flex;
     flex: 1;
     padding: 10px 15px;
     margin-right: 5px;

 }
